* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.green-background {
    padding: 6px 0;
    height: 85vh;
    min-height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #bf6fd3c0;
}

.text h1
{
font-size: 4.5em;
font-weight: 800;
color: #fae1ff;
line-height: 1em;
text-transform: uppercase;
letter-spacing: 2px;
text-shadow: 2px 2px 10px rgb(199, 23, 199);
font-family: 'Playfair Display', Georgia, serif;
transition: all 0.3s ease;
text-align: center;
margin-top: 12vh;
}

.text h2 {
font-size: 2em;
font-weight: 700;
color: #771b8a;
line-height: 1em;
letter-spacing: 2px;
text-shadow: 2px 2px 10px rgba(204, 37, 204, 0.884);
transition: all 0.3s ease;
text-align: center;
margin-top: 2vh;
}

.swiper {
    position: absolute;
    bottom: -100px; /* Adjust if needed for visibility */
    left: 10%;
    transform: translateX(-20%); /* Changed to -50% for better centering */
    width: 1100px; /* Fixed potential typo from 900% */
    height: 60%;
   
    padding-top: 0;
    padding-bottom: 30px;
    margin-top: -30px;
    z-index: 5;
}

.swiper-slide {
    width: 400px;
    height: 90%;
    filter: blur(100px);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.swiper-pagination {
    top: 500px;
}

.swiper-slide-active {
    filter: blur(0);
}

.swiper-slide--one {
    background: linear-gradient(to top, #1a698b5b, #28fff400, #2c536400),
    url(https://i.pinimg.com/1200x/73/2b/39/732b39bdb3687421b29588dd4eaba442.jpg) no-repeat 50% 50% / cover;
    filter: brightness(1) saturate(4);
}

.swiper-slide--two {
    background: linear-gradient(to top, #1a698b5b, #28fff400, #2c536400),
    url(https://i.pinimg.com/736x/bf/50/0d/bf500d03b18e6e0323c067acfab7a173.jpg) no-repeat 50% 50% / cover;
    filter: brightness(1) saturate(4);
}

.swiper-slide--three {
    background: linear-gradient(to top, #1a698b5b, #28fff400, #2c536400),
    url(https://i.pinimg.com/736x/b0/d8/72/b0d87294c1ba861dfd20d940725d58b7.jpg) no-repeat 50% 50% / cover;
    filter: brightness(1) saturate(4);
}

.swiper-slide--four {
    background: linear-gradient(to top, #1a698b5b, #28fff400, #2c536400),
    url(https://i.pinimg.com/1200x/b8/4a/91/b84a91cb4f3969368d86ad7255ccf1ec.jpg) no-repeat 50% 50% / cover;
    filter: brightness(1) saturate(4);
}

.swiper-slide--five {
    background: linear-gradient(to top, #1a698b5b, #28fff400, #2c536400),
    url(https://i.pinimg.com/736x/e0/39/65/e039657ba2279a98cc4dbe8cc3b58ff3.jpg) no-repeat 50% 50% / cover;
    filter: brightness(1) saturate(4);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}
ss